.main {
  text-align: center;
  position: relative;
  height: 100vh;
}

.title {
  color: rgb(255, 255, 255);
  font-size: 2.5em;
  /* position: absolute; */
  width: 100%;
  user-select: none;
}

#tsparticles {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.content-wrapped {
  position: relative;
  top: 8vh;
  height: 92vh;
}