.nav {
  display: flex;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.nav-link{
  color: #FFF;
  padding: 0 2em;
}

.nav-link:visited {
  color: #FFF;
}